*.ipynb_checkpoints/
*example_analysis_files/
*example_analysis_*.html
*example_analysis_*.pdf
*example_analysis_*.bbl
*example_analysis_*.odt
*example_analysis_*.docx
*example_analysis_*.tex
*example_analysis_*.log
*example_analysis_*.gz
*exercises_julia.*
*exercises_python.*
*figure/
workshop/presentation/presentation.html

*.lintr

.Rhistory
